<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Test Project</title>
</head>
<body>
<h1>{{ post.title }}</h1>
{% if post.photo %}
    <img src="{{ post.photo.url }}" alt="" style="width: 600px; height: auto;">
{% endif %}
<p>
    {{ post.content }}
</p>
<form action="{% url 'post_delete' post_pk=post.pk %}" method="post">
    {% csrf_token %}
    <input type="submit" value="글 삭제">
</form>

</body>
</html>